<div class="navbar-fixed">
    <nav class="barcolor">
        <div class="nav-wrapper">
            <a href="#" class="brand-logo center">Checkout</a>
            <ul id="nav-mobile" class="left">
                <li>
                    <a href="javascript:history.back()">
                        <i class="material-icons">arrow_back</i>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col s12 m8 offset-m2 l6 offset-l3">
            <div class="container-root">
                <div class="row">
                    <div class="col s12">
                        <p class="row-title">{{{event_name}}}</p>
                        <p class="row-description">Section {{{section}}}, Row {{{row}}}, {{{event_date}}}. {{{format}}}</p>
                    </div>
                </div>
                <div class="row row-custom-padding">
                    <div class="col s4 m3 l2">
                        <p class="row-title">{{{quantity}}}</p>
                        <label class="row-description">Ticket</label>
                    </div>
                    <div class="col s4 m3 l2">
                        <p class="row-title">${{{wholesale_price}}}</p>
                        <label class="row-description">Price</label>
                    </div>
                    <div class="col s4 m3 l2">
                        <p class="row-title">${{{price}}}</p>
                        <label class="row-description">Price + fee</label>
                    </div>

                </div>
                <div class="row row-custom">
                    <div class="col s12">
                        <div class="divider"></div>
                    </div>
                </div>
                <div class="row row-custom-padding">
                    <div class="col s12">
                        <p id="totalTagP" class="row-title-lg">${{{total}}}</p>
                    </div>
                </div>
                <div class="row row-custom">
                    <div class="col s12">
                        <div class="divider"></div>
                    </div>
                </div>
                <div class="row row-custom-padding">
                    <form action="/pay/?uid={{{fbId}}}" method="post">
                        <input type="hidden" value="{{{event_date}}}" name="event_date">
                        <input type="hidden" value="{{{section}}}" name="section">
                        <input type="hidden" value="{{{row}}}" name="row">
                        <input type="hidden" value="{{{event_name}}}" name="event_name">
                        <input type="hidden" value="{{{price}}}" name="price">
                        <input id="quantity" type="hidden" value="{{{quantity}}}" name="quantity">
                        <input type="hidden" value="{{{format}}}" name="format">
                        <input id="groupticket_id" type="hidden" value="{{{groupticket_id}}}" name="groupticket_id">

                        <input type="hidden" id="payment_type" name="payment_type">
                        <input type="hidden" id="promo_code" name="promo_code">

                        <div class="row">
                            <div class="col s12">
                                <h5 class="blue-text">Billing Information.</h5 class="blue-text">
                            </div>
                        </div>
                        <!-- promo_code================================================ ☑️-->
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="promo_code1" name="promo_code1" type="text" class="validate">
                                <label for="promo_code">Promo Code</label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="input-field col s12">
                                <button id="promoButton" name="promoButton" class="btn btn-round btn-checkout no-uppercase blue">promo check</button>
                            </div>
                        </div>
                        <!-- promo_code================================================ ☑️-->

                        <div class="row">
                            <div class="input-field col s12">
                                <input id="firstname" value="{{{firstName}}}" name="firstname" type="text" class="validate">
                                <label for="firstname">First Name</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="lastname" value="{{{LastName}}}" name="lastname" type="text" class="validate">
                                <label for="lastname">Last Name</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="billing_address" name="billing_address" type="text" class="validate">
                                <label for="billing_address">Billing Address</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="billing_city" name="billing_city" type="text" class="validate">
                                <label for="billing_city">City</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input type="text" id="billing_country" name="billing_country" class="autocomplete">
                                <label for="billing_country">Country</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="billing_zipcode" name="billing_zipcode" type="text" class="validate">
                                <label for="billing_zipcode">Zip Code</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <select id="billing_state" name="billing_state" class="form-control">
                                    <option value="" selected="selected">Select…</option>
                                    <option value="Outside the U.S.">Outside the U.S.</option>
                                    <option value="AL">Alabama</option>
                                    <option value="AK">Alaska</option>
                                    <option value="AZ">Arizona</option>
                                    <option value="AR">Arkansas</option>
                                    <option value="CA">California</option>
                                    <option value="CO">Colorado</option>
                                    <option value="CT">Connecticut</option>
                                    <option value="DE">Delaware</option>
                                    <option value="DC">District Of Columbia</option>
                                    <option value="FL">Florida</option>
                                    <option value="GA">Georgia</option>
                                    <option value="HI">Hawaii</option>
                                    <option value="ID">Idaho</option>
                                    <option value="IL">Illinois</option>
                                    <option value="IN">Indiana</option>
                                    <option value="IA">Iowa</option>
                                    <option value="KS">Kansas</option>
                                    <option value="KY">Kentucky</option>
                                    <option value="LA">Louisiana</option>
                                    <option value="ME">Maine</option>
                                    <option value="MD">Maryland</option>
                                    <option value="MA">Massachusetts</option>
                                    <option value="MI">Michigan</option>
                                    <option value="MN">Minnesota</option>
                                    <option value="MS">Mississippi</option>
                                    <option value="MO">Missouri</option>
                                    <option value="MT">Montana</option>
                                    <option value="NE">Nebraska</option>
                                    <option value="NV">Nevada</option>
                                    <option value="NH">New Hampshire</option>
                                    <option value="NJ">New Jersey</option>
                                    <option value="NM">New Mexico</option>
                                    <option value="NY">New York</option>
                                    <option value="NC">North Carolina</option>
                                    <option value="ND">North Dakota</option>
                                    <option value="OH">Ohio</option>
                                    <option value="OK">Oklahoma</option>
                                    <option value="OR">Oregon</option>
                                    <option value="PA">Pennsylvania</option>
                                    <option value="RI">Rhode Island</option>
                                    <option value="SC">South Carolina</option>
                                    <option value="SD">South Dakota</option>
                                    <option value="TN">Tennessee</option>
                                    <option value="TX">Texas</option>
                                    <option value="UT">Utah</option>
                                    <option value="VT">Vermont</option>
                                    <option value="VA">Virginia</option>
                                    <option value="WA">Washington</option>
                                    <option value="WV">West Virginia</option>
                                    <option value="WI">Wisconsin</option>
                                    <option value="WY">Wyoming</option>
                                </select>
                                <label for="billing_state">State</label>
                            </div>
                        </div>


                        {{#if noeticket }}
                        <div class="row">
                            <div class="col s12">
                                <h5 class="blue-text">Shipping Information.</h5 class="blue-text">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12">
                                <input type="checkbox" value="1" id="same_as_ship" name="same_as_ship" />
                                <label for="same_as_ship">Same as Billing Address</label>
                            </div>
                        </div>
                        <div id="shipping_form">
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="ship_address" name="ship_address" type="text" class="validate" value=" " required="">
                                    <label for="ship_address">Shipping Address</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="city" name="city" type="text" class="validate" value=" " required="">
                                    <label for="city">City</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input type="text" id="country" name="country" class="autocomplete">
                                    <label for="country">Country</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="zipcode" name="zipcode" value=" " type="text" class="validate" required="">
                                    <label for="zipcode">Zip Code
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <select id="state" name="state" class="form-control">

                                    </select>
                                    <label for="state">State </label>
                                </div>
                            </div>
                        </div>

                        {{/if}}
                        <div class="row">
                            <div class="col s12 m8">
                                <h5 class="blue-text">Contact Information.</h5 class="blue-text">
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="email" name="email" type="text" class="validate" required="">
                                <label for="email">Email</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="phone" name="phone" type="text" class="validate" required="">
                                <label for="phone">Daytime phone</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12">
                                <h5 class="blue-text">Payment Information.</h5 class="blue-text">
                            </div>
                        </div>
                        <div class="row row-custom-padding">
                            <div class="col s12">
                                <ul id="options-payment" class="options-payment">
                                    <li id="creditcard" style="display: inline;">
                                        <img id="icon_credit_card" src="../assets/credit_card_active.svg" width="102px" height="135px" />
                                    </li>
                                    <li class="right-payment" id="paypal" style="display: inline;">
                                        <img id="icon_pay_pal" src="../assets/pay_pal_inactive.svg" width="102px" height="135px" />
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div id="section_credit_data">
                            <div class="row row-custom-padding">
                                <div class="input-field col s12">
                                    <input id="cc" name="cc" type="text" class="validate" required="">
                                    <label for="cc">Credit Card #</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <select id="exp_month" name="exp_month" class="form-control">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                        <option value="11">11</option>
                                        <option value="12">12</option>
                                    </select>
                                    <label for="exp_month">Exp Month</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <select id="exp_year" name="exp_year" class="form-control">
                                        <option value="2017">2017</option>
                                        <option value="2018">2018</option>
                                        <option value="2019">2019</option>
                                        <option value="2020">2020</option>
                                        <option value="2021">2021</option>
                                        <option value="2022">2022</option>
                                        <option value="2023">2023</option>
                                        <option value="2024">2024</option>
                                        <option value="2025">2025</option>
                                        <option value="2026">2026</option>
                                        <option value="2027">2027</option>
                                        <option value="2028">2028</option>
                                        <option value="2029">2029</option>
                                        <option value="2030">2030</option>
                                        <option value="2031">2031</option>
                                        <option value="2032">2032</option>
                                    </select>
                                    <label for="exp_year">Exp Year</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="cvv" name="cvv" type="text" placeholder="Security Code / CVV" class="text-blue" required="">
                                    <label for="cvv">Security Code</label>
                                </div>
                            </div>
                        </div>
                        <div class="row center">
                            <div class="input-field col s12">
                                <button id="checkout" name="checkout" class="btn btn-round btn-checkout no-uppercase blue">Check Out</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>





<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="js/materialize.min.js"></script>
<script type="text/javascript" src="../js/checkout.js"></script>
<script>$(document).ready(function () {


        $('ul.tabs').tabs();

        $('select').material_select();
        $('input.autocomplete').autocomplete({ data: { "United States": null, "Afghanistan": null, "Albania": null, "Algeria": null, "American Samoa": null, "Andorra": null, "Angola": null, "Anguilla": null, "Antarctica": null, "Antigua And Barbuda": null, "Argentina": null, "Armenia": null, "Aruba": null, "Australia": null, "Austria": null, "Azerbaijan": null, "Bahamas": null, "Bahrain": null, "Bangladesh": null, "Barbados": null, "Belarus": null, "Belgium": null, "Belize": null, "Benin": null, "Bermuda": null, "Bhutan": null, "Bolivia": null, "Bosnia And Herzegovina": null, "Botswana": null, "Bouvet Island": null, "Brazil": null, "British Indian Ocean Territory": null, "Brunei Darussalam": null, "Bulgaria": null, "Burkina Faso": null, "Burundi": null, "Cambodia": null, "Cameroon": null, "Canada": null, "Cape Verde": null, "Cayman Islands": null, "Central African Republic": null, "Chad": null, "Chile": null, "China": null, "Christmas Island": null, "Cocos (Keeling) Islands": null, "Colombia": null, "Comoros": null, "Congo": null, "The Democratic Republic Of The Congo": null, "Cook Islands": null, "Costa Rica": null, "Cote D Ivoire": null, "Croatia": null, "Cuba": null, "Cyprus": null, "Czech Republic": null, "Denmark": null, "Djibouti": null, "Dominica": null, "Dominican Republic": null, "East Timor": null, "Ecuador": null, "Egypt": null, "El Salvador": null, "Equatorial Guinea": null, "Eritrea": null, "Estonia": null, "Ethiopia": null, "Falkland Islands (Malvinas)": null, "Faroe Islands": null, "Fiji": null, "Finland": null, "France": null, "French Guiana": null, "French Polynesia": null, "French Southern Territories": null, "Gabon": null, "Gambia": null, "Georgia": null, "Germany": null, "Ghana": null, "Gibraltar": null, "Greece": null, "Greenland": null, "Grenada": null, "Guadeloupe": null, "Guam": null, "Guatemala": null, "Guinea": null, "Guinea-Bissau": null, "Guyana": null, "Haiti": null, "Heard Island And Mcdonald Islands": null, "Holy See (Vatican City State)": null, "Honduras": null, "Hong Kong": null, "Hungary": null, "Iceland": null, "India": null, "Indonesia": null, "Islamic Republic Of Iran": null, "Iraq": null, "Ireland": null, "Israel": null, "Italy": null, "Jamaica": null, "Japan": null, "Jordan": null, "Kazakstan": null, "Kenya": null, "Kiribati": null, "Democratic Peoples Republic Of Korea": null, "Korean Republic": null, "Kuwait": null, "Kyrgyzstan": null, "Lao Peoples Democratic Republic": null, "Latvia": null, "Lebanon": null, "Lesotho": null, "Liberia": null, "Libyan Arab Jamahiriya": null, "Liechtenstein": null, "Lithuania": null, "Luxembourg": null, "Macau": null, "The Former Yugoslav Republic Of Macedonia": null, "Madagascar": null, "Malawi": null, "Malaysia": null, "Maldives": null, "Mali": null, "Malta": null, "Marshall Islands": null, "Martinique": null, "Mauritania": null, "Mauritius": null, "Mayotte": null, "Mexico": null, "Federated States Of Micronesia": null, "Republic of Moldova": null, "Monaco": null, "Mongolia": null, "Montserrat": null, "Morocco": null, "Mozambique": null, "Myanmar": null, "Namibia": null, "Nauru": null, "Nepal": null, "Netherlands": null, "Netherlands Antilles": null, "New Caledonia": null, "New Zealand": null, "Nicaragua": null, "Niger": null, "Nigeria": null, "Niue": null, "Norfolk Island": null, "Northern Mariana Islands": null, "Norway": null, "Oman": null, "Pakistan": null, "Palau": null, "Palestinian Territory": null, "Panama": null, "Papua New Guinea": null, "Paraguay": null, "Peru": null, "Philippines": null, "Pitcairn": null, "Poland": null, "Portugal": null, "Puerto Rico": null, "Qatar": null, "Reunion": null, "Romania": null, "Russian Federation": null, "Rwanda": null, "Saint Helena": null, "Saint Kitts And Nevis": null, "Saint Lucia": null, "Saint Pierre And Miquelon": null, "Saint Vincent And The Grenadines": null, "Samoa": null, "San Marino": null, "Santo Tome And Principe": null, "Saudi Arabia": null, "Senegal": null, "Seychelles": null, "Sierra Leone": null, "Singapore": null, "Slovakia": null, "Slovenia": null, "Solomon Islands": null, "Somalia": null, "South Africa": null, "South Georgia And The South Sandwich Islands": null, "Spain": null, "Sri Lanka": null, "Sudan": null, "Suriname": null, "Svalbard And Jan Mayen": null, "Swaziland": null, "Sweden": null, "Switzerland": null, "Syrian Arab Republic": null, "Province Of China Taiwan": null, "Tajikistan": null, "United Republic Of Tanzania": null, "Thailand": null, "Togo": null, "Tokelau": null, "Tonga": null, "Trinidad And Tobago": null, "Tunisia": null, "Turkey": null, "Turkmenistan": null, "Turks And Caicos Islands": null, "Tuvalu": null, "Uganda": null, "Ukraine": null, "United Arab Emirates": null, "United Kingdom": null, "United States Minor Outlying Islands": null, "Uruguay": null, "Uzbekistan": null, "Vanuatu": null, "Venezuela": null, "Viet Nam": null, "Virgin Islands, British": null, "Virgin Islands, U.S.": null, "Wallis And Futuna": null, "Western Sahara": null, "Yemen": null, "Yugoslavia": null, "Zambia": null, "Zimbabwe": null }, limit: 20, onAutocomplete: function (val) { }, minLength: 1 });

        $("input:submit").click(function () { return false; });
        /*$("#checkoutpaypalButton").click(function () {
            alert("Handler for .click() called.");
          
        });*/
        //================================================ ☑️
        $("#promoButton").on("click", function (event) {
            //TODO:
            event.preventDefault();
            var promo_code_s = $("#promo_code1").val()
            let groupticket_id = $("#groupticket_id").val()
            let quantity = $("#quantity").val()

            let datos = {
                promo_code_s,
                groupticket_id,
                quantity
            }

            let search = `https://botboletos-test.herokuapp.com/checkout/promo`



            $.post(search, datos, function (data) {
                console.log(`-- promo response ${JSON.stringify(data)}`)
                if (data) {
                    $("#promo_code").val(data.code)
                }

            })
            //================================================ ☑️


        }); 
</script>
<script>
            $(document).ready(function () {
                $("#same_as_ship").on("click", function (e) {
                    if ($(this).is(":checked")) {
                        $("#shipping_form").hide();
                        $("#ship_address").attr("disabled", "disabled");
                        $("#zipcode").attr("disabled", "disabled");
                        $("#city").attr("disabled", "disabled");
                        $("#state").attr("disabled", "disabled");
                        $("#country").attr("disabled", "disabled");
                    }
                    else {
                        $("#ship_address").removeAttr("disabled", "disabled");
                        $("#zipcode").removeAttr("disabled", "disabled");
                        $("#city").removeAttr("disabled", "disabled");
                        $("#state").removeAttr("disabled", "disabled");
                        $("#country").removeAttr("disabled", "disabled");
                        $("#shipping_form").show();
                    }
                });

                $("#cc_radio").on("click", function (e) {
                    if ($(this).is(":checked")) {
                        $("#paypal_form").hide();
                        $("#credit_card_form").show();

                        $("#cc").removeAttr("disabled", "disabled");
                        $("#exp_month").removeAttr("disabled", "disabled");
                        $("#exp_year").removeAttr("disabled", "disabled");
                        $("#cvv").removeAttr("disabled", "disabled");
                    }
                    else {
                        $("#cc").attr("disabled", "disabled");
                        $("#exp_month").attr("disabled", "disabled");
                        $("#exp_year").attr("disabled", "disabled");
                        $("#cvv").attr("disabled", "disabled");
                        $("#credit_card_form").hide();
                        $("#paypal_form").show();
                    }
                });

                $("#pp_radio").on("click", function (e) {
                    if ($(this).is(":checked")) {
                        $("#cc").attr("disabled", "disabled");
                        $("#exp_month").attr("disabled", "disabled");
                        $("#exp_year").attr("disabled", "disabled");
                        $("#cvv").attr("disabled", "disabled");
                        $("#credit_card_form").hide();
                        $("#paypal_form").show();

                    }
                    else {
                        $("#paypal_form").hide();
                        $("#credit_card_form").show();
                        $("#cc").removeAttr("disabled", "disabled");
                        $("#exp_month").removeAttr("disabled", "disabled");
                        $("#exp_year").removeAttr("disabled", "disabled");
                        $("#cvv").removeAttr("disabled", "disabled");
                    }
                });

            });
</script>
<!--This is the Pixel's FB event trackign clicking Checkout button -->
<script>
        $(document).ready(function () {
            $('#checkout').click(function () {
                fbq('track', 'ViewContent');
            });
        });
</script>