
<form method="post" action="/checkout/paypal_pay/" class="col s12" name="checkoutpaypalForm">
    <input type="hidden" value="{{{event_date}}}" name="event_date">
    <input type="hidden" value="{{{section}}}" name="section">
    <input type="hidden" value="{{{row}}}" name="row">
    <input type="hidden" value="{{{event_name}}}" name="event_name">
    <input type="hidden" value="{{{price}}}" name="price">
    <input type="hidden" value="{{{quantity}}}" name="quantity">
    <input type="hidden" value="{{{format}}}" name="format">
    <input type="hidden" value="{{{groupticket_id}}}" name="groupticket_id">

    <div class="row">
        <div class="col-md-4">
            <button id="checkoutpaypalButton" name="checkoutpaypalButton" class="btn blue">Prueba Pay Pal </button>
        </div>
    </div>
</form>