<div class="navbar-fixed">
    <nav class="barcolor">
        <div class="nav-wrapper">
            <a href="#" class="brand-logo center">Book</a>
            <ul id="nav-mobile" class="left">
                <li>
                    <!--<a href="javascript:window.close()">
                        <i class="material-icons">arrow_back</i>
                    </a> -->
                </li>
            </ul>
        </div>
    </nav>
</div>


<div class="container-fluid container-header">
    <div class="row row_custom">
        <div class="col col-image s12">
            <div class="row row_custom">
                <div class="col s12 m8 offset-m2">
                    <div class="card">
                        <div class="card-image">
                            <div class="gradient-image">
                                <img class="gradient-image" src="{{image_url}}">
                            </div>
                            <span class="card-title">{{subtitulo}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid container-cards">
    <div class="row row-custom">
        <div class="col col-custom s12 m8 offset-m2">
            <div class="row row-custom">
                {{#each events}}
                <div class="col s12 m6">
                    <div class="card">
                        <div class="card-content">
                            <p class="row_description">{{this.name}}</p>
                            <p class="row_title">{{this.occurs_at_format}}</p>
                            <p class="row_description">{{this.venue.name}} {{this.venue.location}}</p>
                        </div>
                        <div class="card-action">
                            <div class="row center">
                                <div class="input-field col s12">
                                    <a class="btn btn-round btn-book no-uppercase white" href="{{this.button_href}}">Book Tickets</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>

    </div>
</div>


<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="js/materialize.min.js"></script>