<div class="container">
    <div class="row left">
        <h3 class="header left blue-text">{{subtitulo}}</h3>
        <div class="section">
            <div class="row">
                {{#each events}}
                <div class="col m12 m4">
                    <div class="card">
                        <div class="card-image">
                            <img src="{{this.image_url}}">
                            <span style="display:none;" class="card-title">{{this.name}}</span>
                        </div>
                        <div class="card-content">
                            <p>{{this.name}}
                                <br>
                                <strong>{{this.occurs_at_format}}</strong>
                                <br>{{this.venue.name}} {{this.venue.location}} </p>
                            <div class="card-action">
                                <p>
                                    <a class="btn blue" href="{{this.button_href}}">Purchase Tickets</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>
</div>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="js/materialize.min.js"></script>