<div class="container">
    <div class="row">
        <div class="col m12 m4">
            <h4 class="header left blue-text">Review Order.</h4>

        </div>
    </div>



    <form action="{{{actionSubmit}}}" method="post">
        <input type="hidden" name="name2" value="{{{firstname}}} {{{lastname}}}" />
        <input type="hidden" name="street_address" value="{{{street_address}}}">
        <input type="hidden" name="extended_address" value=" ">
        <input type="hidden" name="locality" value="{{{locality}}}">
        <input type="hidden" name="region" value="{{{region}}}">
        <input type="hidden" name="country_code" value="{{{country_code}}}">
        <input type="hidden" name="postal_code" value="{{{postal_code}}}">
        <input type="hidden" name="label" value="shipping ">
        <input type="hidden" name="email_id" value="{{{email}}}">
        <input type="hidden" name="format" value="{{{format}}}">
        <input type="hidden" name="ticket_group_id" value="{{{groupticket_id}}}">
        <input type="hidden" name="price_per_ticket" value="{{{price}}}">
        <input type="hidden" name="quantity" value="{{{quantity}}}" />
        <input type="hidden" name="fee" value="0">
        <input type="hidden" name="address_id" value="{{{address_id}}} ">
        <input type="hidden" name="name" value="{{{firstname}}}  {{{lastname}}}">

        <!-- shiping info -->
        <input type="hidden" name="service_type" value="{{{service_type}}}">
        <input type="hidden" name="provider" value="{{{provider}}}">
        <input type="hidden" name="shipping_price" value="{{{ship_price}}}">


        <!-- dataHTML1 -->
        <table class="table-responsive ">
            <thead>
                <tr>
                    <th>Event</th>
                    <th>Date</th>
                    <th>Seats</th>
                    <th> Quantity</th>
                    <th>Price Each</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{{event_name}}}</td>
                    <td>{{{event_date}}} </td>
                    <td>
                        <b>Section:</b> {{{section}}}
                        <br>
                        <b>Row:</b> {{{row}}}
                        <br> </td>
                    <td>{{{quantity}}}</td>
                    <td>${{{price}}}</td>
                </tr>
                <tr>
                    <td>
                        <b>Ticket Type: </b>
                        <span class="new badge green ">{{{format}}}</span>
                    </td>
                    <td colspan="2 "></td>
                    <td>
                        <strong>Subtotal</strong>
                    </td>
                    <td>$ {{{subtotal}}}</td>
                </tr>

                {{#if with_ship }}
                <!-- shiping table -->
                <tr>
                    <td colspan="3 "></td>
                    <td>
                        <strong>Shipping</strong>
                        <br>
                        <span style=" ">{{{shiping_name}}}</span>
                    </td>
                    <td>${{{ship_price}}}</td>
                </tr>
                {{/if}}
                <!-- dataHTML2-->

                <tr>
                    <td colspan="3 "></td>
                    <td>
                        <strong>Total</strong>
                    </td>
                    <td>${{{total}}}</td>
                </tr>
            </tbody>
        </table>


        <button  style="width:100% " class="btn green ">Finish Checkout</button>
    </form>
</div>
<script type="text/javascript " src="https://code.jquery.com/jquery-3.2.1.min.js "></script>
<script type="text/javascript " src="js/materialize.min.js "></script> </body>