<div class="container">
    <div class="row">
        <div class="col m12 m4">
            <h4 class="header left blue-text">Review Order.</h4>

        </div>
    </div>


 
    <form action="/checkout/paypal_pay/" method=" post ">
       <input type="hidden" name="name2" value="{{{firstname}}} {{{lastname}}}" />
        <input type="hidden" name="street_address" value="{{{street_address}}}">
        <input type="hidden" name="extended_address" value=" ">
        <input type="hidden" name="locality" value="{{{locality}}}">
        <input type="hidden" name="region" value="{{{region}}}">
  


        
        <button type="submit " style="width:100% " class="btn green ">Finish Checkout</button>
    </form>
</div>
<script type="text/javascript " src="https://code.jquery.com/jquery-3.2.1.min.js "></script>
<script type="text/javascript " src="js/materialize.min.js "></script> </body>