<div class="container">
    <div class="section">
        <div class="row">
            <div class="col m12 m4">
                <h4 class="header left blue-text">Checkout Process</small>
                </h4>
                <table class="table-responsive ">
                    <thead>
                        <tr>
                            <th>Event</th>
                            <th>Date</th>
                            <th>Seats</th>
                            <th> Quantity</th>
                            <th>Price Each</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{{event_name}}}</td>
                            <td>{{{event_date}}}</td>
                            <td>
                                <b>Section:</b>{{{section}}}
                                <br>
                                <b>Row</b>: {{{row}}} </td>
                            <td>{{{quantity}}}</td>
                            <td>${{{price}}}</td>
                        </tr>
                        <tr>
                            <td>
                                <b>Ticket Type: </b>
                                <span class="new badge green">{{{format}}} </span>
                            </td>
                            <td colspan="2"></td>
                            <td>
                                <strong>Total</strong>
                            </td>
                            <td>{{{ total }}} </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<ul class="collapsible" data-collapsible="accordion">
    <li>
        <div class="collapsible-header">
            <i class="material-icons">filter_drama</i>Credit Cards
        </div>
        <div class="collapsible-body">

            <form method="post" action="/checkout/paypal_pay/" class="col s12" name="checkoutpaypalForm">
                <input type="hidden" value="{{{event_date}}}" name="event_date">
                <input type="hidden" value="{{{section}}}" name="section">
                <input type="hidden" value="{{{row}}}" name="row">
                <input type="hidden" value="{{{event_name}}}" name="event_name">
                <input type="hidden" value="{{{price}}}" name="price">
                <input type="hidden" value="{{{quantity}}}" name="quantity">
                <input type="hidden" value="{{{format}}}" name="format">
                <input type="hidden" value="{{{groupticket_id}}}" name="groupticket_id">
                <div class="row">
                    <div class="col-md-4">
                        <button id="checkoutpaypalButton" name="checkoutpaypalButton" class="btn blue">Prueba Pay Pal </button>
                    </div>
                </div>
            </form>

        </div>
    </li>
    <li>
        <div class="collapsible-header">
            <i class="material-icons">place</i>Second
        </div>
        <div class="collapsible-body">

            <form method="post" action="/checkout/paypal_pay/" class="col s12" name="checkoutpaypalForm">
                <input type="hidden" value="{{{event_date}}}" name="event_date">
                <input type="hidden" value="{{{section}}}" name="section">
                <input type="hidden" value="{{{row}}}" name="row">
                <input type="hidden" value="{{{event_name}}}" name="event_name">
                <input type="hidden" value="{{{price}}}" name="price">
                <input type="hidden" value="{{{quantity}}}" name="quantity">
                <input type="hidden" value="{{{format}}}" name="format">
                <input type="hidden" value="{{{groupticket_id}}}" name="groupticket_id">

                <div class="row">
                    <div class="col-md-4">
                        <button id="checkoutpaypalButton" name="checkoutpaypalButton" class="btn blue">Prueba Pay Pal </button>
                    </div>
                </div>
            </form>





        </div>
    </li>
    <li>
        <div class="collapsible-header">
            <i class="material-icons">whatshot</i>Third</div>
        <div class="collapsible-body">
            <span>Lorem ipsum dolor sit amet.</span>
        </div>
    </li>
</ul>