 {{> slider_menu}}
<div class="row">
    <h3 class="header center blue-text">{{{event_name}}}</h3>
    <img alt="Seat Map" class="responsive-img" src="{{{seatsmap}}}">
</div>


<div class="row">
    <div class="input-field col s2">
        <label>Section </label>
    </div>
    <div class="input-field col s2">
        <label>Row</label>
    </div>
    <div class="input-field col s2">
        <label>Qty</label>
    </div>
    <div class="input-field col s2">
        <label>Price</label>
    </div>

    <div class="input-field col s1">
        <label> </label>
    </div>
</div>


{{#each ticketGroups}}
<form class="col s12" action="/checkout/" method="post">
    <input type="hidden" value="{{this.in_hand_on}}" name="in_hand_on">
    <input type="hidden" value="{{this.in_hand}}" name="in_hand">
    <input type="hidden" value="{{this.eticket}}" name="eticket">
    <input type="hidden" value="{{{../event_name}}}" name="event_name">
    <input type="hidden" value="{{../event_date}}" name="event_date">
    <input type="hidden" value="{{../uid}}" name="uid" id="uid">
    <input type="hidden" value="{{../event_id}}" name="event_id">
    <input type="hidden" value="{{this.id}}" name="groupticket_id">
    <input type="hidden" value="{{this.quantity}}" name="quantity">
    <input type="hidden" value="{{this.instant_delivery}}" name="instant_delivery">
    <input type="hidden" value="{{this.format}}" name="format">
    <input type="hidden" value="{{this.section}}" name="section">
    <input type="hidden" value="{{this.row}}" name="row">
    <input type="hidden" value="{{this.wholesale_price}}" name="priceticket">



    <div class="row">
        <div class="input-field col s2">
            <label>{{this.section}} </label>
        </div>
        <div class="input-field col s2">
            <label> {{this.row}}</label>
        </div>
        <div class="input-field col s2">
            <select name="userticketsquantity" id="ticketsquantity">
                {{#each this.splits}}
                <option value="{{this}}">{{this}}</option>
                {{/each}}

            </select>
        </div>
        <div class="input-field col s2">
            <label> {{this.wholesale_price}}</label>
        </div>

        <div class="input-field col s1">
            <button type="submit" class="btn blue">BUY</button>
        </div>
    </div>

</form>


{{/each}}



<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="js/materialize.min.js"></script>
<script>
    $(document).ready(function () {
        $('select').material_select();
        $(".button-collapse").sideNav();
        $("#tickets").DataTable({ "order": [[3, "desc"]] });
    });

</script>