<div class="section">
    <div class="card row">
        <div class="row">
            <div class="col s12 l5">
                <div class="row">
                    <div class="col s6">
                        <b>Event</b>
                    </div>
                    <div class="col s6">
                        <b>Date</b>
                    </div>
                </div>
                <div class="divider"></div>
                <div class="row">
                    <div class="col s6">{{{event_name}}}</div>
                    <div class="col s6">{{{event_date}}}</div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <b>Ticket Type: </b>
                    </div>
                    <div class="input-field col s6">
                        <span class="new badge green">{{{format}}} </span>
                    </div>
                </div>
            </div>
            <div class="col s12 l2">
                <div class="row">
                    <div class="col s12">
                        <b> Seats</b>
                    </div>
                </div>
                <div class="divider"></div>
                <div class="row">
                    <div class="col s12">
                        <b>Section:</b>{{{section}}} </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <b>Row</b>: {{{row}}} </td>
                    </div>
                </div>
            </div>
            <div class="col s12 l5">
                <div class="row">
                    <div class="col s6">
                        <b>Quantity</b>
                    </div>
                    <div class="col s6">
                        <b>Price Each</b>
                    </div>
                </div>
                <div class="divider"></div>
                <div class="row">
                    <div class="col s6">{{{quantity}}}</div>
                    <div class="col s6">${{{price}}}</div>
                </div>
                <div class="row">
                    <div class="col s6">Total</div>
                    <div class="col s6">{{{total}}}</div>
                </div>
            </div>
        </div>
    </div>
</div>