<form method="post" action="/checkout/paypal_pay/" class="col s12" name="checkoutpaypalForm">
    <input type="hidden" value="{{{event_date}}}" name="event_date">
    <input type="hidden" value="{{{section}}}" name="section">
    <input type="hidden" value="{{{row}}}" name="row">
    <input type="hidden" value="{{{event_name}}}" name="event_name">
    <input type="hidden" value="{{{price}}}" name="price">
    <input type="hidden" value="{{{quantity}}}" name="quantity">
    <input type="hidden" value="{{{format}}}" name="format">
    <input type="hidden" value="{{{groupticket_id}}}" name="groupticket_id"> 
    
    {{#if noeticket }}
    <h5 class="blue-text"> Shipping Information.</h5 class="blue-text">
    <!-- Text input-->

    <div id="shipping_form">
        <div class="row">
            <div class="input-field col s12">
                <input id="ship_address" name="ship_address" type="text" class="validate" value=" " required="">
                <label for="ship_address">Shipping Address </label>
            </div>
        </div>
        <!-- Text input-->
        <div class="row">
            <div class="input-field col s12">
                <input id="zipcode" name="zipcode" value=" " type="number" class="validate" required="">
                <label for="zipcode">Zip Code </label>
            </div>
        </div>
        <!-- fin shipping address -->
        <div class="row">
            <div class="input-field col s12">
                <input id="city" name="city" type="text" class="validate" value=" " required="">
                <label for="city">City </label>
            </div>
        </div>
        <!-- Select Basic -->
        <div class="row">
            <div class="input-field col s12">
                <input type="text" id="country" name="country" class="autocomplete">
                <label for="country">Country </label>
            </div>
        </div>
        <!-- Text input-->
        <!-- Select Basic -->
        <div class="row">
            <div class="input-field col s12">
                <input type="text" class="validate" required="" id="state" name="state" class="form-control">
                <label for="state">State </label>
            </div>
        </div>
    </div>
    {{/if}}
    <div class="row">
        <div class="col-md-4">
            <button id="checkoutpaypalButton" name="checkoutpaypalButton" class="btn blue">Prueba Pay Pal </button>
        </div>
    </div>
</form>